notify {
	position: absolute;
	font-family: Poppins;
	font-size: 50px;
	font-weight: 200;
	color: white;
	bottom: 350px;
	width: 100%;
	height: 10%;
	opacity: 0;
	align-items: center;
	justify-content: center;
	transform: translateX(100%);
	transition: all 1.5s ease-in;

	&.active {
		transform: translateX(0%);
	}

	&.show {
		opacity: 1;
	}

	.objective {
		position: absolute;
		height: 10%;
		bottom: -5px;
		background-position-x: center;
		align-items: center;
	}

	.endgame {
		position: absolute;
		background-position-x: center;
		align-items: center;
	}
}
