.stamina {
	position: absolute;
	left: 50px;
	bottom: -110px;
	opacity: 1;
	width: 475px;
	height: 256px;
	background-repeat: no-repeat;
	background-size: 504px 61px;
	background-image: url(materials/raw/pighudbar.png);
}
