.statuses {
	position: absolute;
	left: 25px;
	bottom: -75px;
	opacity: 1;
	width: 512px;
	height: 256px;
	background-repeat: no-repeat;
	background-size: 512px 135px;

	&.default {
		background-image: url(ui/hud/pighud.png);
	}

	&.ensign {
		background-image: url(ui/hud/pighude.png);
	}

	&.captain {
		background-image: url(ui/hud/pighudcap.png);
	}

	&.major {
		background-image: url(ui/hud/pighudm.png);
	}

	&.colonel {
		background-image: url(ui/hud/pighudcolonel.png);
	}

	&.chimera {
	}
}
