statuses {
	position: absolute;
	left: 20px;
	bottom: -75px;
	opacity: 1;
	width: 512px;
	height: 256px;
	background-repeat: no-repeat;
	background-size: 512px 135px;

	&.default {
		background-image: url(ui/pighud.png);
	}

	&.ensign {
		background-image: url(ui/pighude.png);
	}

	&.captain {
		background-image: url(ui/pighudcap.png);
	}

	&.major {
		background-image: url(ui/pighudm.png);
	}

	&.colonel {
		background-image: url(ui/pighudcolonel.png);
	}

	&.chimera {
		background-image: url(ui/chimerahud.png);
		background-size: 512px 250px;
		bottom: 45px;
	}
}
