timer {
	position: absolute;
	align-items: center;
	justify-content: center;
	color: black;
	width: 100%;
	right: 250px;

	.text {
		font-family: Poppins;
		font-weight: 300;
		left: 25px;
		top: 10px;
		font-size: 20px;

		&.active {
			font-size: 25px;
		}

		&.post {
			font-size: 20px;
			top: 15px;
		}

		&.gameover {
			font-size: 30px;
			top: 10px;
		}
	}

	.hud {
		height: 83px;
		width: 225px;
		background-repeat: repeat-y;

		&.default {
			background-image: url(ui/hud/pigtime.png);
		}

		&.ensign {
			background-image: url(ui/hud/pigtimee.png);
		}

		&.captain {
			background-image: url(ui/hud/pigtimecap.png);
		}

		&.major {
			background-image: url(ui/hud/pigtimem.png);
		}

		&.colonel {
			background-image: url(ui/hud/pigtimec.png);
		}

		&.chimera {
			background-image: url(ui/hud/chimeratime.png);
		}
	}
}
